*{
	margin:0;
	padding:0;
}
img{
	width:150px;
	height:210px;
	border:3px groove orange;
}
div{
	width:150px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
    margin-top:50px;
    animation:myname 3s infinite ease;
}
body{
	perspective:400px;//视距
}
@keyframes myname /*设置动画规则,myname是动画名称，通常用animatrion-name：引用*/
{
  0%{
       transform:rotateY(45deg);
       }
   50%
     {
       transform:rotateY(180deg);
      }
      100%
     {
       transform:rotateY(360deg);
      }
}